.navbar {
  position : fixed;
  top: 0;
  left: 0;
  width : 100%;
  background: #521751;
  height : 56px;
}

.navbar-navigation{
  display: flex;
  height : 100%;
  align-items : center;
  padding : 0 1rem;
}
.navbar-logo{
  margin-left : 1rem;
  color:white;
  text-decoration : none;
  font-size : 1.5rem;
}

.navbar-credit{
  margin-left : 1rem;
  color:white;
  text-decoration : none;
  font-size : 1rem;
}


.spacer{
  flex:1;
}

.toolbar-navigation-items ul{
  /*list-style : none;*/
  margin : 0;
  padding : 0;
  display : flex;
}

@media screen and (max-width : 768px){
  .toolbar-navigation-items{
    display : none;
  }
  .navbar-logo{
    display : flex;
    padding : 0 0.5rem;
  }
}
