.side-drawer{
  height : 100%;
  background :  rgb(82, 23, 81, 0.98);
  box-shadow : 1px 0px 7px rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  left:0;
  max-width:300px;
  width : 30%;
  z-index : 200; /*so it is above the backdrop*/
  transform : translateX(-100%);  /*control of the open and closing*/
  transition : transform 0.3s ease-out;
}

.side-drawer.open {
  transform : translateX(0); /*visible sidedrawer*/
}

.side-drawer ul{
  height : 100%;
  list-style : none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding : 0;
}

.side-drawer li{
  margin : 0.5rem 0;
}

.dropdown {
  background : "red"; 
  width : "300px"
}

select {
  width : 200px;
  margin-top: 30px;
}

.location-list{
  padding-left: 0px;

}


